<!DOCTYPE HTML>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>サイトネーム</title>
    <meta name="description" content="説明文を入力">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.zip2addrbyclick.min.js"></script>
    <script src="js/scripts.js"></script>
    <script>
    jQuery(function($) {
        $('#btn_address').zip2addrbyclick({
            zip: '#zip',
            addr: '#address'
        });
    });
    </script>
</head>

<body>

<div class="header">
</div>

<?php drawScr($act, $disp_error, $checked, $hiddenitems, $_POST); ?>

<div class="footer">
</div>

</body>
</html>